<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="GjjBookingEntities" connectionString="metadata=res://*/Models.GjjBookingModel.csdl|res://*/Models.GjjBookingModel.ssdl|res://*/Models.GjjBookingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.11.11.253;initial catalog=GjjBooking;user id=sa;password=Hli12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JMGJJFactEntities" connectionString="metadata=res://*/Models.JMGJJFactModel.csdl|res://*/Models.JMGJJFactModel.ssdl|res://*/Models.JMGJJFactModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.10.8;initial catalog=JMGJJFact;user id=sa;password=Hli12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JmgjjPreliminaryEntities" connectionString="metadata=res://*/Models.JmgjjPreliminaryModel.csdl|res://*/Models.JmgjjPreliminaryModel.ssdl|res://*/Models.JmgjjPreliminaryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.11.11.253;initial catalog=JmgjjPreliminary;user id=sa;password=Hli12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>